{% load static %}

<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Prashnottari</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans|Vollkorn&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/prashnottari.css' %}">

        <script src="https://kit.fontawesome.com/4bf0daec3f.js" crossorigin="anonymous"></script>

        <style>
        body {
          background: url('{% static "images/mainbg.jpg" %}') no-repeat center center fixed;
          background-size: cover;
          height: 100%;
        }

        @media (max-width: 480px) { 
        .nav_brand{
        margin-left: 0px !important;
        }
        .navbar-item{
        padding-left: 0px !important;
        }
        }

        </style>

</head>

<body style="background-color: ivory;">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-toggleable-sm navbar-inverse bg-inverse shadowed_navbar">

  <div class="nav_brand" style="margin-left: 6em;"><a class="navbar-brand mx-auto fontbrandname color1" href="{% url 'home' %}"><span class="boldfont"><h1 style="margin-bottom: 0px;">Prashnottari</h1></span></a></div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fas fa-bars color1"></i></span>
    
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  <ul class="nav navbar-nav ml-auto" style="margin-right: 100px;">

  <li class="nav-item">
  <a class="color1 navbar-item" href="{% url 'home' %}">Feed</a>
  </li>

  <li class="nav-item">
  <a class="color1 navbar-item" href="{% url 'ask' %}"><i class="fas fa-pen-nib"></i> Ask a Question</a>
  </li>

  <li class="nav-item">
  <a class="color1 navbar-item" href="{% url 'unanswered' %}">Unanswered Questions</a>
  </li>

  <li class="nav-item d-block d-sm-none" style="padding-bottom: 6px;">
    <a class="color1 navbar-item" href="{% url 'my_questions' %}">My Questions</a>
  </li>

  <li class="nav-item d-block d-sm-none" style="padding-bottom: 6px;">
    <a class="color1 navbar-item" href="{% url 'my_answers' %}">My Answers</a>
  </li>

  <li class="nav-item d-block d-sm-none" style="padding-bottom: 6px;">
    <a class="color1 navbar-item" href="{% url 'my_bookmarks' %}">Bookmarks</a>
  </li>

<li class="nav-item">
  <div class="nav-item dropdown">
   <a class="nav-link dropdown-toggle pt-0 navbar-item color1" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{user.username}}
   </a>
   <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
     <a class="dropdown-item" href="{% url 'edit_profile' %}">My Profile</a>
     <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
   </div>
 </div>
</li>

</ul>

</nav>

<div class="content container font2">
  <div class="row">
          <div class="col-sm-8 z-depth-1" style="background-color: white; margin-bottom: 10px;">
            {% block content %}
            {% endblock %}
          </div>
          <div class="col-sm-2 offset-8 d-none d-sm-block" style="position:fixed">
            <div class="row">
            <div class="col-sm-12 z-depth-1" style="background-color: white; padding-top: 10px">
            <p><a class="color1 boldfont" href="{% url 'my_questions' %}"> My Questions</a></p>
            <p><a class="color1 boldfont" href="{% url 'my_answers' %}">My Answers</a></p>
            <p><a class="color1 boldfont" href="{% url 'my_bookmarks' %}">Bookmarks</a></p>
            </div>
            </div>

            <div class="row">
              <div class="col-sm-12 z-depth-1 color1" id="quote" style="background-color: white; padding-top: 10px; margin-top: 15px">
                <p>Random Quote :</p>
                <p><i>[[quote.content]]</i></p>
                <p><i>by [[quote.author]]</i></p>
              </div>
            </div>
          </div>
  </div>
</div>

<script type="text/javascript">

 var quote = new Vue({
   el: '#quote',
   delimiters: ['[[',']]'],
   data: {
   quote: [],
   loading: false,
 },
   mounted: function() {
    this.getQuote();
},
 methods: {
   getQuote: function() {
  this.loading = true;
  this.$http.get('https://api.quotable.io/random')
      .then(response => (this.quote = response.data));
    }
}
 });
 </script>

{% block inpagejavascript %}{% endblock %}

</body>

</html>
