{% extends 'base.html' %}

  {% block content %}

    {% for answer in answers %}
      <div>
        <p><a class="color1 font1 font-weight-bolder question_title" href="{% url 'question_detail' pk=answer.question.pk %}"><h6>{{ answer.question.text }}</h6></a></p>
        <p class="mb-0">asked by : <span class="boldfont"><i>{{ answer.question.asker }}</i></span> at <i>{{ answer.question.created_date }}</i></p>
        <p>answered by : <span class="boldfont"><i>{{ answer.answerer }}</i></span> at <i>{{ answer.added_date }}</i></p>
        <div class="font1 answer_font_size"><p>{{ answer.text|safe }}</p></div>
        <br>
      </div>

    {% endfor %}

  {% endblock %}
