{% extends 'base.html' %}

  {% block content %}

    {% for question in questions %}
      <div>

        <div class="row hoverable" style="padding: 10px; margin-bottom: 10px">

        <div class="col-11">
          <p><a class="color1 font1 font-weight-bolder question_title" href="{% url 'question_detail' pk=question.pk %}"><h6>{{ question.text }}</h6></a></p>
          <p>Asked at <i>{{ question.created_date }}</i></p>
        </div>
        <div class="col-1 pl-0 my-auto">
          <p><a href="{% url 'delete_question' pk=question.pk %}"><span class="color1" style="font-size: 24px;"><i class="fas fa-trash"></i></span><a></p>
        </div>
        </div>

      </div>
    {% empty %}
      <p><i>oh, you've asked no questions, </i><a class="color1 navbar-item" href="{% url 'ask' %}"> Ask one</a></p>
    {% endfor %}


  {% endblock %}
