{% extends 'base.html' %}

  {% block content %}

    <div class="row">

    <div class="col-11">
    <p><a class="color1 font1 font-weight-bolder question_title" href="{% url 'question_detail' pk=question.pk %}"><h6>{{question.text}}</h6></a></p>

    {% if user != question.asker %}
        <p>asked By : <span class="boldfont"><i>{{question.asker}}</i></span> at <i>{{question.created_date}}</i></p>

          {% if user_answer is None %}
          <p class="boldfont"><a class="color1" href="{% url 'write_answer' pk=question.pk %}">Answer it</a></p>
          {% endif %}

    {% else %}
        <p>You asked this question at <i>{{question.created_date}}</i></p>
    {% endif %}
    <br>
    </div>

    <div class="col-1 my-auto">
      {% if question.asker == user %}
      <p><a href="{% url 'delete_question' pk=question.pk %}"><span class="color1" style="font-size: 24px;"><i class="fas fa-trash"></i></span><a></p>
      {% endif %}
    </div>

    </div>

    {% if user_answer is not None %}
    <div class="font2">
      <p>You answered this question at <i>{{user_answer.added_date}}</i></p>
      <div class="z-depth-1"><p>Your Answer :
        <span class="boldfont">(
          <a class="color1 boldfont" href="{% url 'write_answer' pk=question.pk %}">  Edit
          </a> |
          <a class="color1 boldfont" href="{% url 'delete_answer' pk=user_answer.pk %}">  Delete
          </a> | 
          <i id="bm{{user_answer.pk}}"
            {% if user_answer.pk in bookmarked_pks %}class="fas fa-bookmark color1" title="Bookmarked"{% else %}class="far fa-bookmark color1" title="Not Bookmarked"{% endif %}
              data-toggle="tooltip" style="cursor:pointer;">
            </i> )
        </span></p>
      </div>

        <div class="font1 answer_font_size">{{user_answer.text|safe}}</div>

      <br>
    </div>
    {% endif %}

    {% if answers|length > 1 and user_answer is not None %}
    <div class="z-depth-1" style="margin-bottom: 10px;">
      <p><i>
        Other answers to this question :
      </i></p>
    </div>
    {% else %}
      {% if user_answer is None %}
      <div class="z-depth-1" style="margin-bottom: 10px;">
          {% if answers|length > 0 %}
          Answers to this question :
          {% else %}
          No answers
          {% endif %}
      </div>
      {% endif %}
    {% endif %}

    {% for answer in answers %}
    {% if answer != user_answer %}
    <div class="font2">
      <div class="row">
        <div class="col-11">
        <p style="margin-bottom: 0px;">answer From : <span class="boldfont"><i>{{answer.answerer}}</i></span> at <i>{{answer.added_date}}</i></p>
        </div>
        <div class="col-1 my-auto">
          <i id="bm{{answer.pk}}"
            {% if answer.pk in bookmarked_pks %}class="fas fa-bookmark color1" title="Bookmarked"{% else %}class="far fa-bookmark color1" title="Not Bookmarked"{% endif %}
              data-toggle="tooltip" style="cursor:pointer;">
          </i>
        </div>
      </div> 
      <div class="row">
        <div class="col-12">
        <div class="font1 answer_font_size"><p>{{answer.text|safe}}</p></div>
        </div>
      </div>
      <br>
    </div>
    {% endif %}
    {% endfor %}

  {% endblock %}

  {% block inpagejavascript %}
    <script type="text/javascript">
      $('.fa-bookmark').click(function(){
      var bmid = $(this).attr("id").substr(2);
      $.ajax(
      {
          type:"GET",
          url: "/bookmark",
          data:{
                   anspk : bmid
          },
          success: function( data ) 
          {
              if($('#bm' + bmid).hasClass("far")){
                $('#bm' + bmid).removeClass("far");
                $('#bm' + bmid).addClass("fas");
                $('#bm' + bmid).attr("title", "Bookmarked");
              }
              else{
                $('#bm' + bmid).removeClass("fas");
                $('#bm' + bmid).addClass("far");
                $('#bm' + bmid).attr("title", "Not Bookmarked");
              }
          }
       })
  });
  </script>

  {% endblock %}
