{% load static %}
{% load widget_tweaks %}

<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Prashnottari</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4bf0daec3f.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=PT+Sans|Vollkorn&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/prashnottari.css' %}">

<style>
body {
  background: url('{% static "images/loginbg.jpg" %}') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
/*@media (min-width: 480px) {
   form ul {
       margin-bottom: 3px !important;
   } 
   .form-group{
       margin-bottom: 6px !important;
   }
}*/
</style>
</head>

<body>

<div class="container-fluid">

<div class="row">

<div class="col-sm-4"></div>

<div class="col-sm-4 shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 20px;">

<div class="row justify-content-center">
  <h2 class="color1 fontbrandname"><b>Prashnottari</b></h2>
</div>

<div class="font2">
<form method="post">
  {% csrf_token %}
  {% include 'baseform.html' with form=form %}
  <div class="row justify-content-center"><button type="submit" class="btn custom_button">Sign Up</button></div>
</form>
</div>
<div class="row justify-content-center">Already a user?&nbsp;<a href="{% url 'login' %}" class="color1"><u>Log In</u></a></div>
</div>

<div class="col-sm-4"></div>
</div>
</div>

<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_username").attr('placeholder', "Username");
        $("#id_password1").attr('placeholder', "Password");
        $("#id_password2").attr('placeholder', "Confirm Password");
        $("#id_captcha_1").attr('placeholder', "Captcha");

        // Add refresh button after field (this can be done in the template as well)
        $('img.captcha').after(
                $('<span class="captcha-refresh" style="cursor: pointer; margin-left: 10px;"><i class="fas fa-sync-alt color1"></i></span>')
        );

        // Click-handler for the refresh-link
        $('.captcha-refresh').click(function () {
            $.getJSON("/captcha/refresh/", function (result) {
            $('.captcha').attr('src', result['image_url']);
            $('#id_captcha_0').val(result['key'])
            });
        });
    });
    
</script>
<script>
  AOS.init();
</script>
</body>

</html>
